body {
  color: #fff;
  background:#858585;}


h1 {
  font-family: 'Roboto';
  text-align: center;
  padding-top: 5px;
}

p {
  color: white;
  font-family: 'Prompt';
  text-align: center;
}

.paragraph {
  background-color: black;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}

.atc{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all .35s;
}

a:hover{
  color: rgb(0, 0, 0);
}

a:hover:after{
  width: 100%;
}

